@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.center {
  display: grid;
  place-content: center;
  width: 100svw;
  height: 100svh;
  background-color: #000000;
}

.content {
  width: 500px;
}

p {
  color: #ffffff;
  font-size: 20px;
}


dialog {
  background-color: #000000;
  color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}


#dialog-one div {
  display: flex;
  justify-content: space-around;
}

#dialog-two div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  p {
    font-size: 20px;
    line-height: 34px;
  }
}


button {
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #2196F3;
  width: 100px;
  height: 34px;
  border-radius: 10px;
  margin-top: 10px;
  &:hover {
    background-color: #ffffff;
    color: #2196F3;
  }
}

button + button {
  margin-left: 10px;
}

/* span colors */

.purple {
  color: #aa21f3;
}

.orange {
  color: #FF9800;
}

.green {
  color: #4CAF50;
}


/* Slider switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End */